h1 {
    color:blue
}

.red-title {
    color:chocolate;
    font-size: 30px;
    font-style:italic;
}

.blue-title {
    color:blue;
    font-size: 20;
    font-style:normal;
}
p {
    color:red;
    margin: 50px;
}
h3 {
    color:darkgreen;
    margin: 120px;
}

.table1 th, 
.table1 td {
    border: 1px solid red;
}

.table2 th,
.table2 td  {
    border: 5px solid green;
}